html, body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    box-sizing: border-box;
    background-image: url('img/cover.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.container-med {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 50px;
}

.container {
    margin:auto;
    width: 50%;
    border-radius: 5px;
    background-color: #f2f2f2;
    color:#282828;
    padding: 20px;
}

.wrapper{
    margin:auto;
    width: 50%;
    border-radius: 5px;
    background-color: #f2f2f2;
    color:#282828;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper-medicine{
    margin:auto;
    width: 33%;
    border-radius: 5px;
    background-color: rgba(255,255,255,0.5);
    color:#282828;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.center {
    text-align: center;
    width: 100%;
}

/* Navbar */

.topnav {
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
    overflow: hidden;
    z-index: 1;
    margin-bottom: 10px;
}

.topnav a {
    color: #f2f2f2;
    float: left;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
    padding: 15px 15px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav-right {
    float: right;
}

.topnav-center a {
    float: none;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.medicine {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    padding: 20px;
    box-sizing: border-box;
    transition: background-color 0.3s ease;
    text-decoration: none;
    color : #000000;
    position: relative;
}

.medicine-details {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    padding: 20px;
    box-sizing: border-box;
    transition: background-color 0.3s ease;
    text-decoration: none;
    color : #000000;
    position: relative;
}

.medicine img{
    width: 200px;
    height: 200px;
    object-fit: fill;
}

.medicine-details img{
    width: 200px;
    height: 200px;
    object-fit: fill;
}

.sold-out {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 0, 0, 0.7);
    color: white;
    padding: 10px;
    font-weight: bold;
    border-radius: 5px;
    text-align: center;
    pointer-events: none;
}
.medicine p, a{
    text-decoration: none;
    color : #000000;
}

.medicine:hover {
    background-color: #ddd;
}

.medicine-info {
    display: none;
}

.medicine:hover .medicine-info {
    display: block;
}

.medicine:hover img {
    height: 250px;
    width: 250px;
}



/* Buttons */
.dropbtn {
    background-color: #008CBA;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #008CBA
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #005f6b;
}


/* Buttons */

.buttons {
    background-color: #008CBA;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px;
    cursor: pointer;
}

.buttons:hover {
    background-color: #005f6b;
}

/* Filter form */
.filter-form {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 20px 0;
}

/* Form */
.form {
    display: table;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 20px 0;
}

/* Select dropdown */
.filter-form .dropbtn {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #008CBA;
    font-size: 16px;
}

.rate-form{
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 500px;
    justify-content: center;
    align-items: center;
}


/* Input */
input[type="text"], input[type="email"], input[type="password"], input[type="file"]{
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}


/* Submit button */
.filter-form .buttons {
    background-color: #008CBA;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

.rating-group {
    display: flex;
    align-items: center;
    margin-top: 10px;
}
.rating-group label {
    margin-left: 10px;
}

.filter-form .buttons:hover {
    background-color:  #005f6b;
}


.filterTextContainer {
    display: none;
}
select[name="filterBy"] {
    display: inline-block;
}

select[name="filterBy"] option[value="name"]:checked + .filterTextContainer {
    display: block;
}

/* Table */

.tables {
    border-collapse : collapse;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.tables td, .tables th {
    text-align: center;
    border: 1px solid #0e9af1;
    padding: 5px;
}

.tables tr:nth-child(even){
    background-color:#dcdcdc ;
}

.tables tr:nth-child(odd){
    background-color:#989898 ;
}

.tables tr:hover {
    background-color:#bdbdbd;
}

.tables th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #156393;
    color: white;
}
.tables a:link,.tables a:visited{
    background-color: #0000ff;
    color: white;
    padding: 15px 20px;
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
.tables a:hover, tables a:active{
    background-color:#502cff;
}

.col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
}

.col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}

.error-message {
    color: #fff;
    background-color: #f44336;
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
    text-align: center;
}

@media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
    .topnav a, .topnav-right {
        float: none;
        display: block;

    }
    .topnav-center a {
        position: relative;
        top: 0;
        left: 0;
        transform: none;
    }
}

.rating-group {
    display: flex;
    align-items: center;
    margin-top: 10px;
}
.rating-group label {
    margin-left: 10px;
}
textarea {
    width: calc(100% - 22px);
    padding: 10px;
    margin-top: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    resize: vertical;
}

.cart {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 20px;
    box-sizing: border-box;
    transition: background-color 0.3s ease, height 0.3s ease, width 0.3s ease;
    text-decoration: none;
    color: #000000;
    position: absolute;
    right: 0;
}

.cart p, .cart a {
    text-decoration: none;
    color: #000000;
}

.cart:hover {
    background-color:#ffffff;
}

.cart-info {
    display: none;
    position: absolute;
    left: -100px;
    background-color: #ffffff;
    padding: 10px;
    border-radius: 10px;
}

.cart:hover .cart-info {
    display: block;
}

.price {
    background-color: #bdbdbd;
    border-radius: 10px;
    padding: 20px;
    box-sizing: border-box;
    transition: background-color 0.3s ease, transform 0.3s ease;
    text-decoration: none;
    color: #000000;
    position: relative;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}