<!DOCTYPE html>
<html xmls:th="http://www.thymeleaf.org" xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:xmls="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml" lang="bg">

<head>
    <meta charset="UTF-8">
    <title>Добавяне</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>

<body>

<div class="topnav" id="myNav">
    <div class="topnav-left">
        <a sec:authorize="hasRole('ADMIN')" th:href="@{/listUsers}">Потребители</a>
        <a sec:authorize="hasRole('ADMIN')" th:href="@{/listOrders}">Поръчки</a>
        <a sec:authorize="hasRole('ADMIN')" th:href="@{/medicineStock}">Наличности</a>
    </div>
    <div class="topnav-center">
        <a th:href="@{/}">Горската аптека</a>
    </div>

    <div class="topnav-right">
        <a sec:authorize="!isAuthenticated()" th:href="@{/register}">Регистрация</a>
        <a sec:authorize="!isAuthenticated()" th:href="@{/login}">Вход</a>
        <a sec:authorize="isAuthenticated()" th:href="@{/profile}">Моят профил</a>
        <a sec:authorize="isAuthenticated()" th:href="@{/logout}">Изход</a>
    </div>
</div>
<br>
<br>
<br>

<h1>Добавяне на лекарство</h1>

<div class="container">
    <form method="post" role="form" th:action="@{/saveMedicine}" th:object="${medicine}" enctype="multipart/form-data">
        <div class="row">
            <div class="col-25"><label>Снимка</label></div>
            <div class="col-75"><input id="image" name="image" type="file" accept="image/*"/></div>
        </div>
        <div class="row">
            <div class="col-25"><label>Име на лекарство</label></div>
            <div class="col-75"><input id="medicineName" th:field="*{medicineName}" placeholder="Въведи заглавие..." type="text"/></div>
        </div>
        <div class="row">
            <div class="col-25"><label>Детайли</label></div>
            <div class="col-75"><input id="medicineDetails" th:field="*{medicineDetails}" placeholder="Въведи детайли..." type="text"/></div>
        </div>
        <div class="row">
            <div class="col-25"><label>Брой</label></div>
            <div class="col-75"><input id="stockCount" th:field="*{stockCount}" placeholder="Въведи количество..." type="text"/></div>
        </div>
        <div class="row">
            <div class="col-25"><label>Нужда от рецепта</label></div>
            <div class="col-75"><input id="isPrescriptionRequired" th:field="*{isPrescriptionRequired}" type="checkbox"/></div>
        </div>
        <div class="row">
            <div class="col-25"><label>Цена</label></div>
            <div class="col-75"><input id="price" th:field="*{price}" placeholder="Въведи цена..." type="text"/></div>
        </div>
        <div class="row">
            <div class="center">
                <input type="submit" class="buttons" value="Добави">
            </div>
        </div>

    </form>
</div>
</body>
</html>