<!DOCTYPE html>
<html xmls:th="http://www.thymeleaf.org" xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:xmls="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml" lang="bg">

<head>
    <meta charset="UTF-8">
    <title>Редактирай</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>

<body>

<div class="topnav" id="myNav">
    <div class="topnav-left">
        <a sec:authorize="hasRole('ADMIN')" th:href="@{/listUsers}">Потребители</a>
        <a sec:authorize="hasRole('ADMIN')" th:href="@{/listOrders}">Поръчки</a>
        <a sec:authorize="hasRole('ADMIN')" th:href="@{/medicineStock}">Наличности</a>
    </div>
    <div class="topnav-center">
        <a th:href="@{/}">Аптека Сияна</a>
    </div>

    <div class="topnav-right">
        <a sec:authorize="!isAuthenticated()" th:href="@{/register}">Регистрация</a>
        <a sec:authorize="!isAuthenticated()" th:href="@{/login}">Вход</a>
        <a sec:authorize="isAuthenticated()" th:href="@{/profile}">Моят профил</a>
        <a sec:authorize="isAuthenticated()" th:href="@{/logout}">Изход</a>
    </div>
</div>
<br>
<br>
<br>

<h1>Редактиране на лекарство</h1>
<div th:if="${param.error}">
    <div class="center">
        Редактирането не е успешно!
    </div>
</div>

<div class="center">
<div class="container">
    <div th:if="${medicine != null}">
        <form th:action="@{/editMedicine}" th:object="${medicine}" method="post" enctype="multipart/form-data">
            <input type="hidden" th:field="*{id}" />
            <div class="row">
                <div class="col-25"><label>Корица</label></div>
                <div class="col-75"><input id="image" name="image" type="file" accept="image/*"/></div>
            </div>
            <div class="row">
                <div class="col-25"><label>Име на лекарство</label></div>
                <div class="col-75"><input id="medicineName" th:field="*{medicineName}" placeholder="Въведи заглавие..." type="text"/></div>
            </div>
            <div class="row">
                <div class="col-25"><label>Детайли</label></div>
                <div class="col-75"><input id="medicineDetails" th:field="*{medicineDetails}" placeholder="Въведи детайли..." type="text"/></div>
            </div>
            <div class="row">
                <div class="col-25"><label>Брой</label></div>
                <div class="col-75"><input id="stockCount" th:field="*{stockCount}" placeholder="Въведи количество..." type="text"/></div>
            </div>
            <div class="row">
                <div class="col-25"><label>Нужда от рецепта</label></div>
                <div class="col-75"><input id="isPrescriptionRequired" th:field="*{isPrescriptionRequired}" type="checkbox"/></div>
            </div>
            <div class="row">
                <div class="col-25"><label>Специален режим</label></div>
                <div class="col-75"><input id="isSpecial" th:field="*{isSpecial}" type="checkbox"/></div>
            </div>
            <div class="row">
                <div class="col-25"><label>Цена</label></div>
                <div class="col-75"><input id="price" th:field="*{price}" placeholder="Въведи цена..." type="text"/></div>
            </div>
            <div class="row">
                <div class="col-25"><label>Срок на годност</label></div>
                <div class="col-75"><input id="expiryDate" th:field="*{expiryDate}" type="date"/></div>
            </div>
            <div class="row">
                <div class="center">
                    <input type="submit" class="buttons" value="Запази">
                </div>
            </div>
        </form>
        <div class="center">
            <a th:href="@{'/deleteMedicine/' + ${medicine.id}}">Изтрий</a>
        </div>
    </div>
</div>
</div>
</body>
</html>
