<!DOCTYPE html>
<html xmls:th="http://www.thymeleaf.org" xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:xmls="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml" lang="bg">
<head>
    <meta charset="UTF-8">
    <title>Начало</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>

<body>
<div class="topnav" id="myNav">
    <div class="topnav-left">
    <a sec:authorize="hasRole('ADMIN')" th:href="@{/listUsers}">Потребители</a>
    <a sec:authorize="hasRole('ADMIN')" th:href="@{/listOrders}">Поръчки</a>
    <a sec:authorize="hasRole('ADMIN')" th:href="@{/medicineStock}">Наличности</a>
    </div>
    <div class="topnav-center">
        <a th:href="@{/}">Аптека Сияна</a>
    </div>
    <div class="topnav-right">
        <a sec:authorize="!isAuthenticated()" th:href="@{/register}">Регистрация</a>
        <a sec:authorize="!isAuthenticated()" th:href="@{/login}">Вход</a>
        <a sec:authorize="isAuthenticated()" th:href="@{/profile}">Моят профил</a>
        <a sec:authorize="isAuthenticated()" th:href="@{/logout}">Изход</a>
    </div>
</div>
<br>
<br>
<br>

<div class="cart" sec:authorize="hasRole('USER')">
    <label>Количка</label>
    <div class="cart-info">
        <div th:each="item : ${cartItems}" th:if="${!cartItems.isEmpty()}">
            <p th:text="${item.medicine.medicineName}+ ' - ' +${item.quantity}"></p>

        </div>
        <p th:if="${cartItems.isEmpty()}">Количката е празна</p>
        <a th:href="@{/reviewCart}" class="buttons">Преглед</a>
    </div>
</div>

<div class="center">
        <div class="dropdown">
            <button class="dropbtn">Сортиране</button>
            <div class="dropdown-content">
                <a th:href="@{/medicines/sort(sortBy='ascending')}">А-Я</a>
                <a th:href="@{/medicines/sort(sortBy='descending')}">Я-А</a>
            </div>
        </div>

        <div class="dropdown">
            <button class="dropbtn">Рецепта</button>
            <div class="dropdown-content">
                <a th:href="@{/medicines/filter(filterBy='withPrescription')}">С рецепта</a>
                <a th:href="@{/medicines/filter(filterBy='withoutPrescription ')}">Без рецепта</a>
            </div>
        </div>

        <form action="/medicines/search" method="get" class="filter-form">
            <input type="text" id="searchText" name="searchText" placeholder="Търси...">
            <button type="submit" class="buttons">Търсене</button>
        </form>

        <a class="buttons" sec:authorize="hasRole('ADMIN')" th:href="@{/addMedicine}">Добавяне</a>
    </div>

<div class="container-med">
    <div th:each="medicine : ${medicines}">
        <a th:href="@{/medicines/{id}(id=${medicine.id})}">
            <div class="medicine">
                <div class="image-container">
                    <div th:if="${medicine.stockCount == 0}" class="sold-out">Изчерпано</div>
                    <img th:src="'data:image/jpeg;base64,' + ${medicine.coverBase64encoded}" alt="Medicine cover"/>
                </div>
                <p th:text="${medicine.medicineName}"></p>
                <div class="medicine-info">
                    <p th:text="${medicine.medicineDetails}"></p>
                    <p th:text="${#numbers.formatDecimal(medicine.avgRate, 1, 'COMMA', 2, 'POINT')}"></p>
                    <div class="center" sec:authorize="hasRole('USER')">
                        <div class="dropdown">
                            <button class="dropbtn" th:if="${medicine.stockCount > 0}">Бързо добавяне </button>
                            <div class="dropdown-content">
                                <form th:each="amount : ${#numbers.sequence(1, medicine.stockCount)}"
                                      th:action="@{'/addToCart/' + ${amount}}"
                                      method="post" th:if="${medicine.stockCount > 0}">
                                    <input type="hidden" th:value="${medicine.id}"
                                           name="medicineId"/>
                                    <button type="submit" th:text="${amount}"
                                            class="dropdown-a"></button>
                                </form>
                            </div>
                        </div>
                    </div>
                 </div>
            </div>
        </a>
    </div>
</div>
</body>
</html>