<!DOCTYPE html>
<html xmls:th="http://www.thymeleaf.org" xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:xmls="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml" lang="bg">
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>

<body>
<div class="topnav" id="myNav">
    <div class="topnav-left">
        <a sec:authorize="hasRole('ADMIN')" th:href="@{/listUsers}">Потребители</a>
        <a sec:authorize="hasRole('ADMIN')" th:href="@{/listOrders}">Поръчки</a>
        <a sec:authorize="hasRole('ADMIN')" th:href="@{/medicineStock}">Наличности</a>
    </div>
    <div class="topnav-center">
        <a th:href="@{/}">Аптека Сияна</a>
    </div>

    <div class="topnav-right">
        <a sec:authorize="!isAuthenticated()" th:href="@{/login}">Вход</a>
        <a sec:authorize="isAuthenticated()" th:href="@{/profile}">Моят профил</a>
        <a sec:authorize="isAuthenticated()" th:href="@{/logout}">Изход</a>
    </div>
</div>
<br>
<br>
<br>

<div class="center" >
    <h1>Регистрация</h1>
</div>

<div class="container">

        <form th:action="@{/registerProcessing}" th:object="${user}" method="post">
            <div class="row">
                <div class="col-25"><label >Име</label></div>
                <div class="col-75"><input type="text"  id="name" name="name" required></div>
            </div>
            <p th:errors = "*{name}" class="error-message " th:if="${#fields.hasErrors('name')}"></p>

            <div class="row">
                <div class="col-25"><label >Имейл</label></div>
                <div class="col-75"><input type="email" id="email" name="email" required></div>
            </div>
            <p th:errors = "*{email}" class="error-message " th:if="${#fields.hasErrors('email')}"></p>

            <div class="row">
                <div class="col-25"><label >Потребителско име</label></div>
                <div class="col-75"><input type="text" id="username" name="username" required></div>
            </div>
            <p th:errors = "*{username}" class="error-message " th:if="${#fields.hasErrors('username')}"></p>

            <div class="row">
                <div class="col-25"><label >Парола</label></div>
                <div class="col-75"><input type="password" id="password" name="password" required></div>
            </div>
            <p th:errors = "*{password}" class="error-message " th:if="${#fields.hasErrors('password')}"></p>

            <div class="row">
                <div class="center">
                    <input type="submit" class="buttons" value="Регистрирай се">
                </div>
            </div>
            <div class="row">
                <div class="center"><span>Вече си регистриран?</span></div>
            </div>
            <div class="row">
                <div class="center"> <a class="buttons" th:href="@{/login}">Влез</a></div>
            </div>

        </form>
    </div>
</div>

</body>
</html>